<% form_for(@admin) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :password,"Senha" %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Entrar' %>
  </p>
<% end %>
