<% if signed_in? %>
  <div id='update'>
    <% form_tag tweets_url, :method => :post do %>
      <%= hidden_field_tag 'in_reply_to_status_id' %>
      <div class='field'>
        <label for='text'>Cadastrar nova mensagem</label><br/>
        <%= text_area_tag 'text' %>
        Faltam <span id='countdown'>140</span> Caracteres
        <div class='actions'>
          <%= submit_tag 'Cadastrar', :class => 'tuitar' %>
        </div>
    </div>
    <% end %>
    </div>
  <% end %>
