<div id='update'>
<%= form_for(@tweet) do |f| %>
  <div class='field'>
    <%= f.label 'Cadastrar nova mensagem' %><br />
    <%= f.text_area :tweet, :id => 'text' %>
    Faltam <span id='countdown'>140</span> Caracteres
  </div>  
  <div class='actions'>
    <%= f.submit 'Cadastrar' %>
  </div>
<% end %>
</div>
