<%= auto_discovery_link_tag(:atom) %>
<h3> Mensagems cadastradas </h3>
<div class="mensagens">
  <table>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.tweet %></td>
        <td><%= link_to 'Deletar', tweet, :confirm => 'Tem certeza? Isso é permanente.', :method => :delete %></td>
      </tr>
    <% end %>
  </table>
</div>
<br/>
<%= render 'form' %>
