body {background-color:#e8e8e8;padding:25px 230px;}
body, ol, ul, td {font-family: verdana, arial, helvetica, sans-serif;font-size:13px;line-height:18px;}
h1 {font-family:Helvetica;font-size:45px;color:#23a0c2;}
h2 {display:inline;}
p {font-family:Sans-serif;font-size:17px;}
img {border:none;}
input, textarea {padding:10px;border:solid 1px #e5e5e5;outline:0;font:normal 13px/100% Verdana, Tahoma, sans-serif;
	width:100px;background: #ffffff;background: -webkit-gradient(linear, left top, left 25, from(#ffffff), color-stop(4%, #eeeeee), to(#ffffff));
	background:-moz-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 25px);
	box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;-moz-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;-webkit-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;
  border-radius:5px;-moz-border-radius:5px;-webkit-border-radius: 5px;}
input.login {width:200px;}
textarea {width:515px;max-width:515px;max-height:40px;height:40px;resize:none;line-height:150%;}
input:hover, textarea:hover, input:focus, textarea:focus {border-color: #c9c9c9;-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 8px;border-radius:5px;-moz-border-radius:5px;
	-webkit-border-radius:5px;}
select {height:31px;background-color:#fff;border:solid 1px #fff;}
#update label {font-size:16px;color:#000;}
#update countdown {display:block;position:absolute;width:210px;text-align:right;font-size:60px;font-weight:bold;color:#eee;}
#notice {padding: 5px 8px;margin: 10px 0;background-color: #CFC;border: solid 1px #6C6;}
#apoiando {width:300px;margin:10px;float:right;background-color:#f0ebf0;border:1px solid #e3e3e3;padding:8px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
#apoiando a.apoiado {color:#23a0c2;text-decoration:none;}
#apoiando a.apoiado:hover {text-decoration:underline;}
.actions input {font-size:16px;}
.input.tuitar {}
.submit input {width:auto;padding:6px 12px;background:#617798;border:0;font-size:18px;color:#ffffff;cursor: pointer;}
a {color:gray;}
a:hover {background-color:#edece9;}
.topmenu {font-size:14px;display:inline;text-align:right;float:right;padding:10px;width:250px;border:1px solid #fff;margin:20px;background-color:#fff;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;}
.topmenu a {background-color: none;text-decoration:none;color:green;}
.topmenu a.perfil {background-color: none;text-decoration:none;color:#23a0c2;}
.topmenu a:hover {background-color:#fff;text-decoration:underline;}
.mensagens {width:750px;}
.mensagens td {font-size:18px;padding:4px;}
.mensagens a {font-size:13px;}
.usuario {background-color:#f0ebf0;border:1px solid #e3e3e3;padding:8px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.usuario a {color:#296ec2;font-size:25px;text-decoration:none;}
.usuario a:hover {text-decoration:underline;}
p.usuario_stats {text-align: right;margin-top:2px;}
.logo p {font-size:14px;color:green;}
.logo h1 {font-weight:bold;}
.container {padding:9px;}
.dados {text-align:center;}
.field, div.actions {margin-bottom:10px;}
#mensagens_de_apoio {float:left; width:540px;background-color:#f0ebf0;border:1px solid #e3e3e3;padding:8px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
#retweets {float:right; width:540px;background-color:#f0ebf0;border:1px solid #e3e3e3;padding:8px;-moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px;}
.rodape p {font-family: arial; font-weight:bold;float:left;font-size:14px;font-family: Sans serif;}
.rodape p.copy {float:right; font-size:14px;font-family: Sans serif;border-left:none;}
.rodape a {color:#1836ab;font-size;12px;background-color:none;text-decoration:none;}
.rodape a:hover {background-color:#e8e8e8; text-decoration:underline;}

