<div class="container" />
<h1>Twitteiro</h1>
<p><b>Como seus clientes podem apoiá-lo no Twitter?</b></p>
<p>Este aplicativo torna possível que seus clientes enviem mensagens de sua campanha pelo Twitter!</p>
<p>Estraégia de alto impacto para sua campanha na Internet!</p>
<p>Mais poderoso que email marketing!</p>
</div>
<div class="login">
  <%= link_to image_tag("login.png"), login_path %>
</div>
<br>
<br>
<%= link_to "Campanhas", campanhas_path %>
<%= link_to "Admin"    , admin_path %>
<div align="center">
  <p>&copy; 2010 Orygens.com. Todos os direitos reservados.</p>
