<% title 'Sobre' %>  
<h2>Sobre o Twitteiro</h2>
<div class='sobre'>
  <p>O Twitteiro é um app muito massa!</p>
  <br>
  <br>
  <%= link_to (image_tag 'orygens_logo.png', :size => '125x70'), 'http://orygens.com' %> 
</div>
