<% title 'Termos de Uso' %>
<h2>Twitteiro - Termos de Uso</h2>
<div class='termos_de_uso'>
  <p> 1.0 - A qualquer momento você poderá desativar o envio de mensagens de apoio e notícias bem como os retweets de quem você autorizou. </p>
</div>
